<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Blog</title>
</head>
<body>
    <div>
        <nav>
        <ul class="navbar">
          <li>
            <a href="{% url 'index' %}">Posts</a>
          </li>
          |
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
        {% block content %}
        <p>Данные по умолчанию</p>
        {% endblock %}
    </div>

</body>
</html>
