
body {
  background-color: bisque;
}


div {
  background-color: #faebd7;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.navbar {
    display: flex;
    list-style-type: none;
}

button {
  background-color: green;
}


