body {
  background-color: bisque;
}

.main {
  background-color: #faebd7;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.data {
  background-color: #faefe2;
  margin: 5px 10px;
  padding: 10px;

  height: 500px;
  border: 1px solid rgb(250, 187, 109);
  border-radius: 5px;
}

.navbar {
  display: flex;
}

li {
  list-style-type: none;
  margin-left: 5px;
}

#btn {
  background-color: green;
}
